@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap");

:root {
  --playerColor: #29851d;
  --monsterColor: #9e162b;
  --npcColor: #165092ef;
  --boxColor: #11010e;
  --borderColor: #1e0929;
  --borderColorLight: #4b42399d;
  --backgroundColor: #241152;
  --generalColor: #5d5670;
  --borderTop: 10px solid var(--borderColor);
  --borderRight: 10px solid var(--borderColor);
  --borderBottom: 10px solid var(--borderColorLight);
  --borderLeft: 10px solid var(--borderColorLight);
  --outerFlame: #dbdb15;
  --hoverTextColor: #bbbb25;
  --hoverTextColorSoft: #bbbb2579;

  --mainTitleColor: #676a81;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 900;
  box-sizing: border-box;
  font-family: "Almendra", serif;
}

h1 {
  font-size: 4.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--mainTitleColor);
  line-height: 0.9;
}

button {
  width: min-content;
}

p {
  line-height: 1;
}

@media only screen and (max-width: 1100px) {
  :root {
    --border: 3px solid var(--borderColor);
  }
}
