@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap");

:root {
  --playerColor: #2d973b;
  --monsterColor: #aa2a3d;
  --npcColor: #2c67ac;
  --boxColor: #11010e;
  --borderColor: #1c1122;
  --backgroundColor: #1f0c4e;
  --generalColor: #5d5670;
  --border: 6px solid var(--borderColor);
  --outerFlame: #dbdb15;
  --innerFlame: #ffa500;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--borderColor); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--generalColor); /* color of the scroll thumb */
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 900;
  box-sizing: border-box;
  font-family: "Almendra", serif;
}

h1 {
  font-size: 4.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--generalColor);
  line-height: 0.9;
}

button {
  width: min-content;
}

p {
  line-height: 1;
}

@media only screen and (max-width: 425px) {
  :root {
    --border: 3px solid var(--borderColor);
  }

  * {
    font-size: 12px;
  }
}
